<!-- Select class with ng-repeat and getClass click -->

<div class="row center-align">
    <h2 class="panel-title white-text deep-orange lighten-2">Current Character: {{player.playerName}} the {{player.species}}</h2>
    <h1 class="name-div">Choose Your Class!</h3>
    <label class="radio-inline" ng-repeat="item in player.allowedClasses">
        <input type="radio" name="class" ng-value="{{item}}" ng-click="getClass()"> {{item}}
    </label>
</div>

    <!-- Description cards for each class -->
    <div class="row" ng-show="player.class.name == 'Warrior'">
        <div class="col-md-8 col-md-offset-2 panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title card-panel teal lighten-2">Warrior</h3>
                  <p class="panel-para">As a Warrior you will use weapons to inflict damage to your enemies.</p>
            </div>
            <div class="panel-body">
                <p>Perhaps the most diverse class in the world of Gauntlet. Be they questing knights, conquering overlords, elite footsoldiers, or hardened mercenaries - they all share an unparalleled mastery with weapons and armor, and a thorough knowledge of the skills of combat.</p>
            </div>
        </div>
    </div>
    <div class="row" ng-show="player.class.name == 'Valkyrie'">
        <div class="col-md-8 col-md-offset-2 panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title card-panel teal lighten-2">Valkyrie</h3>
                  <p class="panel-para">As a Valkyrie you will use weapons to inflict damage to your enemies.</p>
            </div>
            <div class="panel-body">
                <p>The Valkyrie is a follower of Odin who has dedicated their afterlife to gathering the souls of fallen warriors. They are strong fighters who uphold the tenants of righteousness and honor. They engage any and all evil enemies that cross their path. </p>
            </div>
        </div>
    </div>

    <div class="row" ng-show="player.class.name == 'Berserker'">
        <div class="col-md-8 col-md-offset-2 panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title card-panel teal lighten-2">Berserker</h3>
                  <p class="panel-para">As a Berserker you will use weapons to inflict damage to your enemies.</p>
            </div>
            <div class="panel-body">
                <p>Berserkers are warriors who have honed their damage capabilities to become nigh-unkillable soldiers of war. </p>
            </div>
        </div>
    </div>

    <div class="row" ng-show="player.class.name == 'Monk'">
        <div class="col-md-8 col-md-offset-2 panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title card-panel teal lighten-2">Monk</h3>
                  <p class="panel-para">As a Monk you will use weapons to inflict damage to your enemies.</p>
            </div>
            <div class="panel-body">
                <p>Amongst Gauntlet's most deadly warriors, the monks train their bodies and minds so that they may become the foremost holy warriors of the land. Within their holy temples, Monks endure harsh trials both physical and spiritual, proving their devotion and attaining unmatched focus in battle.   </p>
            </div>
        </div>
    </div>

    <div class="row" ng-show="player.class.name == 'Shaman'">
        <div class="col-md-8 col-md-offset-2 panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title card-panel teal lighten-2">Shaman</h3>
                  <p class="panel-para">As a Shaman you will use spells to inflict damage to your enemies.</p>
            </div>
            <div class="panel-body">
                <p>Shaman are mortal mediators between the very elements themselves. Often spiritual guides of their communities, these powerful practitioners commune with the ancestors and seek to balance the raging elemental forces, and can call upon them in battle to scorch and blast their enemies, or to strengthen and heal their allies. Shaman can unleash devestating elemental effects, smite enemies with lightning strikes and bursts of lava, and summon powerful elementals to their aid.</p>
            </div>
        </div>
    </div>

    <div class="row" ng-show="player.class.name == 'Wizard'">
        <div class="col-md-8 col-md-offset-2 panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title card-panel teal lighten-2">Wizard</h3>
                  <p class="panel-para">As a Wizard you will use spells to inflict damage to your enemies.</p>
            </div>
            <div class="panel-body">
                <p>Wizards are supreme magic-users, defined and united as a class by the spells they cast. Their magic conjures elementals from other planes of existence, glimpses the future, or turns slain foes into shambling zombies. Their mightiest spells change one substance into another or alter a creature’s form, open pathways to other planes of existence, or even kill with a single word.</p>
            </div>
        </div>
    </div>

    <div class="row" ng-show="player.class.name == 'Conjurer'">
        <div class="col-md-8 col-md-offset-2 panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title card-panel teal lighten-2">Conjurer</h3>
                  <p class="panel-para">As a Conjurer you will use spells to inflict damage to your enemies.</p>
            </div>
            <div class="panel-body">
                <p>Conjurers are trained to coax metaphysical forces forth from the elements which comprise all of creation, allowing them to weave powerful spells. Attuned to the essence of all things around them, the Conjurers' intimacy with all forms of being enables them to shift between both offensive and defensive magic as needed.</p>
            </div>
        </div>
    </div>

    <div class="row" ng-show="player.class.name == 'Sorcerer'">
        <div class="col-md-8 col-md-offset-2 panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title card-panel teal lighten-2">Sorcerer</h3>
                  <p class="panel-para">As a Sorcerer you will use spells to inflict damage to your enemies.</p>
            </div>
            <div class="panel-body">
                <p>Sorcerers look within themselves for arcane prowess and draw forth might few mortals can imagine. While some seek to control their abilities through meditation and discipline, becoming masters of their fantastic birthright, others give in to their magic, letting it rule their lives with often explosive results.</p>
            </div>
        </div>
    </div>

    <!-- Button to next partial -->
    <div class="center-align">
      <a class="deep-orange lighten-2 btn waves-effect waves-light btn-large" ng-click="setPlayer()" ng-href="#!/weaponspell">
        <i class="material-icons left">skip_next</i>
        Select Weapons/Spells
      </a>
    </div>
</div>
