<div class="modal" id="modalLose" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-small" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Defeat!</h4>
      </div>
      <div class="modal-body">
        <p class="combat-text">You have been defeated, your enemies drink your tears.</p>
      </div>
      <div class="modal-footer">
        <button ng-click="startOver()" class="btn" data-dismiss="modal">Try Again</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="modalWin" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-small" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Victory</h4>
      </div>
      <div class="modal-body">
        <p class="combat-text">You are victorious!!!!</p>
      </div>
      <div class="modal-footer">
        <button ng-click="startOver()" class="btn" data-dismiss="modal">End Game</button>
        <button ng-click="keepGoing()" class="btn" data-dismiss="modal">Continue On!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="row">
	<div class="col s6">
		<h2 class="left-align">{{player.playerName}}</h2>
	</div>
	<div class="col s6">
		<h2 class="right-align">{{monster.species}} the {{monster.class.name}}</h2>
	</div>
</div>
<div class="row">
	<div class="col s5">
		<div class="progress left-align">
		  <div class="determinate" style="width: {{playerHealth}}%"></div>
		</div>
	</div>
	<div class="col s5 offset-s2">
		<div class="progress right-align">
		  <div class="determinate" style="width: {{monsterHealth}}%"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col s4">
		<h4 class="left-align">{{player.health}}</h4>
	</div>
	<div class="col s4 offset-s4">
		<h4 class="right-align">{{monster.health}}</h4>
	</div>
</div>
<div class="row battlefield">

	<div class="col s5 offset-s1 both-images">

		<img id="playerPic" class="left-align" src="{{player.speciesImage}}">
	</div>
	<div class="col s5  right-align">
		<img id="monsterPic" class="right-align" src="{{monster.speciesImage}}">
	</div>
</div>
<div class="row center-align">

	<a class=" deep-orange lighten-2 waves-effect waves-light btn" ng-audio="sounds/swordDraw.wav" ng-click="makeAttack()">Attack!!</a>
	<a class="deep-purple lighten-2 waves-effect waves-light btn" ng-show="useSpecial" ng-click="special()">Special!!</a>


</div>
<div class="row center-align">
	<div id="combat-log" class="panel hoverable blue-grey lighten-5"></div>
</div>
