<div class="row">
	<h1 class="left-align">{{player.playerName}}</h1>
	<h1 class="right-align">{{monster.playerName}}</h1>	
</div>
<div class="row">
	<div class="progress left-align">
	  <div class="determinate" style="width: 100%"></div>
	</div>
	<div class="progress right-align">
	  <div class="determinate" style="width: 100%"></div>
	</div>
</div>
<div class="row">
	<h4 class="left-align">{{player.health}}</h4>
	<h4 class="right-align">{{monster.health}}</h4>	
</div>
<div class="row">
	<img class="left-align">{{player.health}}</img>
	<img class="right-align">{{monster.health}}</img>	
</div>
