<div id="player-setup" class="card--name">
    <div class="card__prompt">
        <div>
            <h3 class="race-choice">CHOOSE YOUR RACE, ADVENTURER!!!</h3>
            <label class="radio-inline">
                <input type="radio" name="race"  value="Human" ng-click="getHuman()" checked> Human
            </label>
            <label class="radio-inline">
                <input type="radio" name="race" value="Elf" ng-click="getElf()"> Elf
            </label>
            <label class="radio-inline">
                <input type="radio" name="race" value="Dwarf" ng-click="getDwarf()"> Dwarf
            </label>
        </div>
    </div>

    <div class="row raceDescription" ng-show="isHuman">
        <div class="col-md-8 col-md-offset-2 panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title card-panel teal lighten-2">Humans</h3>
                <p class="panel-para"> As a human, you can play as a Warrior, Berserker, Wizard, or Conjurer</p>
            </div>
            <div class="panel-body">
                <p>Humans who seek adventure are the most daring and ambitious members of a daring and ambitious race. They seek to earn glory in the eyes of their fellows by amassing power, wealth, and fame. More than other people, humans champion causes rather than territories or groups.</p>
            </div>
        </div>
    </div>
    <div class="row" ng-show="isDwarf">
        <div class="col-md-8 col-md-offset-2 panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title card-panel teal lighten-2 center">Dwarf</h3>
                <p class="panel-para"> As a dwarf, you can play as a Warrior, Berserker, Valkyrie, or Monk.</p>
            </div>
            <div class="panel-body">
                <p>Dwarves who take up the adventuring life might be motivated by a desire for treasure—for its own sake, for a specific purpose, or even out of an altruistic desire to help others. Other dwarves are driven by the command or inspiration of a deity, a direct calling or simply a desire to bring glory to one of the dwarf gods. Or a dwarf might search for the axe wielded by a mighty ancestor, lost on the field of battle centuries ago.</p>
            </div>
        </div>
    </div>
    <div class="row" ng-show="isElf">
        <div class="col-md-8 col-md-offset-2 panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title card-panel teal lighten-2 center">Elf</h3>
                <p class="panel-para"> As an elf, you can play as a Shaman, Wizard, Conjurer, or Sorcerer.</p>
            </div>
            <div class="panel-body">
                <p>Elves take up adventuring out of wanderlust. Since they are so long-lived, they can enjoy centuries of exploration and discovery. They dislike the pace of human society, which is both regimented from day to day but constantly changes over decades, so they find careers that let them travel freely and set their own pace. Elves also enjoy exercising their martial prowess or gaining greater magical power, and adventuring allows them to do so.</p>
            </div>
        </div>
    </div>
    <div class="name-div">ENTER YOUR NAME BELOW</div>
    <div class="field">
        <input class="center" type="text" id="player-name" ng-model="player.playerName">
    </div>
    <div class="center-align">
      <a class="deep-orange lighten-2 btn waves-effect waves-light btn-large" ng-click="setPlayer()" ng-href="#!/class">
        <i class="material-icons left">skip_next</i>
        Select Class
      </a>
    </div>
</div>
