<div class="row center-align" ng-show="!player.class.magical">
    <h2 class="panel-title white-text deep-orange lighten-2">Current Character: {{player.playerName}} the {{player.species}} {{player.class.name}} </h2>
    <h1 class="name-div">Choose Your Weapon!</h3>
    <label class="radio-inline">
        <input type="radio" name="weaponspell"  ng-click="equipDagger()"> Dagger
    </label>
    <label class="radio-inline">
        <input type="radio" name="weaponspell"  ng-click="equipBroadsword()"> BroadSword
    </label>
    <label class="radio-inline">
        <input type="radio" name="weaponspell"  ng-click="equipWarAxe()"> WarAxe
    </label>
</div>

<div class="row center-align" ng-show="player.class.magical">
    <h2 class="panel-title white-text deep-orange lighten-2">Current Character: {{player.playerName}} the {{player.species}} {{player.class.name}} </h2>
    <h1 class="name-div">Choose Your Spell!</h3>
    <label class="radio-inline">
        <input type="radio" name="weaponspell" ng-click="equipSphere()"> Sphere
    </label>
    <label class="radio-inline">
        <input type="radio" name="weaponspell" ng-click="equipMagicMissile()"> Magic Missile
    </label>
</div>

<div class="row" ng-show="player.weapon.name == 'dagger'">
    <div class="col m8 offset-m2">
        <h2 class="header panel-title card-panel teal lighten-2">Dagger</h2>
    <div class="card horizontal">
        <div class="card-image">
            <img ng-src="images/dagger.png">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p class="center-align weap">A small, one handed weapon that does +4 damage </p>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="row" ng-show="player.weapon.name == 'BroadSword'">
    <div class="col m8 offset-m2">
        <h2 class="header panel-title card-panel teal lighten-2">BroadSword</h2>
    <div class="card horizontal">
        <div class="card-image">
            <img src="images/broadsword.png">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p class="center-align weap">A large, two handed weapon that does +14 damage</p>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="row" ng-show="player.weapon.name == 'war axe'">
    <div class="col m8 offset-m2">
        <h2 class="header panel-title card-panel teal lighten-2">War Axe</h2>
    <div class="card horizontal">
        <div class="card-image">
            <img src="images/axe.png">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p class="center-align weap">A large, two handed weapon that does +18 damage</p>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="row" ng-show="player.weapon.name == 'sphere'">
    <div class="col m8 offset-m2">
        <h2 class="header panel-title card-panel teal lighten-2">Sphere</h2>
    <div class="card horizontal">
        <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p class="center-align weap">A powerful magic sphere that does between 0 and 20 damage </p>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="row" ng-show="player.weapon.name == 'magic missile'">
    <div class="col m8 offset-m2">
        <h2 class="header panel-title card-panel teal lighten-2">Magic Missile</h2>
    <div class="card horizontal">
        <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p class="center-align weap">A magical projectile that does between 0 and 30 damage</p>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="center-align">
  <a class="deep-orange lighten-2 btn waves-effect waves-light btn-large" ng-click="setPlayer()" ng-href="#!/combat">
    <i class="material-icons left">skip_next</i>
    Dive Into The Dungeon
  </a>
</div>
</div>
