<div class="row">
    <h2>Current Character: {{player.playerName}} the {{player.species}} {{player.class}} </h2>
    <h1>Choose Your Class</h3>
    <label class="radio-inline" ng-repeat="item in player.allowedweaponsorsomething">
        <input type="radio" name="weaponspell"  value="{{item}}" ng-click=""> {{item}}
    </label>
</div>

<div class="row" ng-show="">
    <div class="col-md-8 col-md-offset-2 panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Dagger</h3>
        </div>
        <div class="panel-body">
            <p>A one handed </p>
        </div>
    </div>
</div>
<div class="row" ng-show="">
    <div class="col-md-8 col-md-offset-2 panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Warrior</h3>
        </div>
        <div class="panel-body">
            <p>Perhaps the most diverse class in the world of Gauntlet. Be they questing knights, conquering overlords, elite footsoldiers, or hardened mercenaries - they all share an unparalleled mastery with weapons and armor, and a thorough knowledge of the skills of combat.</p>
            <p> As a Warrior you will use weapons to inflict damage to your enemies.
        </div>
    </div>
</div>
<div class="row" ng-show="">
    <div class="col-md-8 col-md-offset-2 panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Warrior</h3>
        </div>
        <div class="panel-body">
            <p>Perhaps the most diverse class in the world of Gauntlet. Be they questing knights, conquering overlords, elite footsoldiers, or hardened mercenaries - they all share an unparalleled mastery with weapons and armor, and a thorough knowledge of the skills of combat.</p>
            <p> As a Warrior you will use weapons to inflict damage to your enemies.
        </div>
    </div>
</div>
<div class="row" ng-show="">
    <div class="col-md-8 col-md-offset-2 panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Warrior</h3>
        </div>
        <div class="panel-body">
            <p>Perhaps the most diverse class in the world of Gauntlet. Be they questing knights, conquering overlords, elite footsoldiers, or hardened mercenaries - they all share an unparalleled mastery with weapons and armor, and a thorough knowledge of the skills of combat.</p>
            <p> As a Warrior you will use weapons to inflict damage to your enemies.
        </div>
    </div>
</div>
<div class="row" ng-show="">
    <div class="col-md-8 col-md-offset-2 panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Warrior</h3>
        </div>
        <div class="panel-body">
            <p>Perhaps the most diverse class in the world of Gauntlet. Be they questing knights, conquering overlords, elite footsoldiers, or hardened mercenaries - they all share an unparalleled mastery with weapons and armor, and a thorough knowledge of the skills of combat.</p>
            <p> As a Warrior you will use weapons to inflict damage to your enemies.
        </div>
    </div>
</div>
<div class="row" ng-show="">
    <div class="col-md-8 col-md-offset-2 panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Warrior</h3>
        </div>
        <div class="panel-body">
            <p>Perhaps the most diverse class in the world of Gauntlet. Be they questing knights, conquering overlords, elite footsoldiers, or hardened mercenaries - they all share an unparalleled mastery with weapons and armor, and a thorough knowledge of the skills of combat.</p>
            <p> As a Warrior you will use weapons to inflict damage to your enemies.
        </div>
    </div>
</div>
